@font-face{
    font-family: DuneFont;
    src: url("../font/dune_rise/Dune_Rise.otf");

}

html{
    /* font */
    font-family: Consolas, monospace;
    color: white;
    font-weight: bold;
}

body{
    /* position */
    padding: 0px;
    margin: 0px;

    /* flex */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100svh;

    /* style */
    background-image: url("../img/main-background-01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

nav{
    /* position */
    /* z-index: 999; */
    position: fixed;
    width: 100%;

    /* flexbox */
    display: flex;
    flex-flow: row;
    
    /* style */
    justify-content: space-between;
    background-color: rgba(50, 50, 50, 0.50);
}

main{
    /* position */
    width: 100%;

    /* flexbox */
    flex-grow: 1;
    display: flex;
    flex-flow: column wrap;
    
    /* style */
    justify-content: space-around;
}

footer{
    /* position */
    width: 100%;

    /* flexbox */
    display: flex;
    flex-flow: row;

    /* style */
    justify-content: space-between;
    background-color: rgba(50, 50, 50, 0.50);
}

/* flexbox tab */
.flex_row{
    /* position */
    margin: 0px;
    padding: 10px;
    justify-content: space-around;
    /* align-items: stretch; */

    /* flexbox */
    display: flex;
    flex-flow: row wrap;

    /* style */
}

.flex_col{
    /* position */
    margin: 0px;
    padding: 10px;
    justify-content: space-around;
    /* align-items: stretch; */

    /* flexbox */
    display: flex;
    flex-flow: column wrap;

    /* style */
}

/* objets */
.projet_img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.profil_img{
    max-width: 75%;
    max-height: 75%;
    object-fit: contain;
}